<%- include('../homeButton.ejs') %>

<ul>
    <% data.forEach(function(item){ %>

        <% if (item.length !== 0) { %>
            <li> 
                <span>Name: <%= item.name %> ;</span>
                <span>Email: <%= item.email %> ;</span>
                <span>Salary: <%= item.salary %> ;</span>
                <span>Birthday: <%= item.birthday %> </span>
            </li>

            <%- include('../buttonsSkeleton.ejs', { item }); %>

            <script>

                document.getElementById(`delete-${'<%= item.id %>'}`).addEventListener('click', e => {

                    fetch(`http://localhost:3000/api/users/delete?id=<%= item.id %>`, {
                        method: 'post'
                    })
                    .then(() => location.reload())
                    .catch(err => console.log(err))
                })

            </script>
        <% } else { %>

            <li>No employees</li>

        <% } %>

    <% }) %>
</ul>

<button>
    <a href="/departments/<%= departmentid %>/employees/create" >
        ADD
    </a>
</button>